h1{
    text-align: center;
    margin-top: 100px;
    margin-right: 25px;
    color: rgb(250, 148, 148);
    font-size: 50px;
}

img{
  width: 500px;
  align-items: center;
  display: block;
  margin-top: 100px;
  margin-left: 1000px;
}